<template>
    <div class="signup">

        <label for="Name"><b>Name</b></label>
              <input type="text" placeholder="Enter Name" v-model="name" required>
              
        <label for="emp_id"><b>Emp ID</b></label>
        <input type="number" placeholder="Enter Emp Id" v-model="emp_id" required>
        
        <label for="UsernEmail"><b>User Email</b></label>
              <input type="email" placeholder="Enter Email" v-model="user_id" required>
              <label for="password"><b>password</b></label>
              <input type="password" placeholder="Enter password"  v-model="user_password"  required>
              <button @click="signinprocess">Sign up</button>
        </div>
  </template>
  
  <script>
  export default {
    name: 'app',
    data () {
      return {
        user_id :"",
        user_password:"",
        name: "",
        emp_id :0

  
  
      }
    
    },
    methods: {
        signinprocess: function(){
            if (this.user_id == '' || this.user_password == '' || this.name ==""|| this.emp_id==0){

            this.$alert("Incomplete Sign in data")
            }
            else {
            this.createuser()
            }



    },
        createuser: function(){
        let url = "http://127.0.0.1:8000/auth/"
        let data = {
            name :this.name,
            emp_id:this.emp_id,
            email_id: this.user_id.toLowerCase(),
            password:this.user_password }
        const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
        
        };
        fetch(url, requestOptions)
        .then(res => {
        this.status = res.status
        return res.json()
    })
      .then(res => {
        if (this.status == 200) {

            this.$alert("User Created")
            this.$router.push('login') 
        }
        else {
          console.log(res)
          this.$alert(res.detail)

        }
      })
      
    }}}
    
  </script>
  
  <style>
    .billing {
      margin: auto;
      width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;
    }
    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
  
    input:focus {
      border: 3px solid #555;
    }
    #items {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #items td, #items th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #items tr:nth-child(even){background-color: #f2f2f2;}
    
    #items tr:hover {background-color: #ddd;}
    
    #items th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  