<template>
<div>
    <router-view></router-view>
</div>

</template>

<script>
import Billing from './Billing.vue';
import login from './components/login.vue'
export default {
    name: "app",
    data() {
        return {
            msg: "Welcome to Your Vue.js App"
        };
    },
    components: {
        'billing': Billing,
        'login' :login
     }
}
</script>

<style>

</style>
