<template>
  <div div v-if="addbill" class="billing" >
    <label for="Iname"><b>Item Name</b></label>
    <input type="text" v-model="item_name" placeholder="Enter Item Name" required>
    <br>
    <label for="quantity"><b>Quantity</b></label>
    <input type="number" v-model="item_quantity"  placeholder="Enter Quantity" required>
    <br>
    <label for="quantity_unit">Choose quantity unit:</label>
    <select v-model="item_quantity_unit">
        <option disabled value="">Please select one</option>
        <option v-for="unit in quantity_units" :value="unit" >{{ unit }}</option>
    </select>
    <button @click="logdata">Add</button>
    <div>
      <label for="Customer_Email"><b>Customer Email</b></label>
            <input type="email" placeholder="Enter Email" v-model="customer_email" required>
            <label for="Customer_Name"><b>Customer Name</b></label>
            <input type="name" placeholder="Enter Name"  v-model="customer_name"  required>
            <button @click="validatedata">Get Bill</button>
    </div>
    <div v-if="all_items.length">
      <table id="items" ><th>Sr No</th> <th>Name</th><th>Quantity</th><th>Quantity Unit</th><th>Delete</th>
        <tr v-for="(element, i) in all_items"><td>{{i+1}}</td><td>{{element.name}}</td><td>{{element.quantity}}</td><td>{{element.quantity_unit}}</td> <td><button @click="removeItem(i)"> Delete</button> </td></tr>
      </table>
    </div>
  </div>
  <div v-else class="billing" >
    <table id="items" ><th>Sr No</th> <th>Name</th><th>Quantity</th><th>Quantity Unit</th><th>Amount</th>
      <tr v-for="(element, i) in billdata.items"><td>{{i+1}}</td><td>{{element.item}}</td><td>{{element.quantity}}</td><td>{{element.quantity_unit}}</td> <td>{{element.amount}} </td></tr>
      <tr>
        <td colspan="4" style="text-align:center;font-weight:bold">Total Amount</td>
        <td>{{billdata.total_amount}}</td>
     </tr>
     <tr>
      <td colspan="4"  style="text-align:center;font-weight:bold">Discount Amount</td>
      <td>{{billdata.saved_amount}}</td>
   </tr>
   <tr>
    <td colspan="4"  style="text-align:center;font-weight:bold">Amount Payable</td>
    <td>{{billdata.payable_amount}}</td>
 </tr>
    </table>



  </div>


</template>

<script>
import d from 'd'

export default {
  name: 'app',
  data () {
    return {
        quantity_units :['kg', 'g', 'ml','dz','no'],
        item_name: "",
        item_quantity_unit:0,
        item_quantity : 0,
        all_items : [],
        customer_email:'',
        customer_name:'',
        billdata:undefined,
        addbill : true,
        status : undefined,
        errors : {}
    }
  
  },
  methods: {
    logdata: function(){
                let item = {name: this.item_name.toLowerCase(), quantity :this.item_quantity, quantity_unit: this.item_quantity_unit.toLowerCase() }
                this.all_items.push(item)
                console.log(this.all_items)
                this.resetvalues()
            },

    resetvalues: function(){
          this.item_name = ""
          this.item_quantity_unit =0
          this.item_quantity = 0


    },
    getbill : function(){
        let url = "http://127.0.0.1:8000/billing/"
        let data = {items: this.all_items, customer :{ name: this.customer_name.toLowerCase(), email_id:this.customer_email.toLowerCase() }}
        let token = localStorage.getItem('usertoken') || ''
        const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json",
                    "token": token },
        body: JSON.stringify(data)
      };
      fetch(url, requestOptions)
      .then(res => {
        this.status = res.status
        return res.json()
    })
      .then(res => {
        if (this.status == 200) {

          this.billdata = res
          this.addbill = false
        }
        else {
          console.log(res)
          this.$alert(res.detail)

        }
      })
      .catch(error => console.log(error))

      
    },
    
    removeItem: function(i){
      this.all_items.splice(i,1)
    },
    validatedata:  function(){
      console.log({name: this.customer_name, email:this.customer_email })
      if (this.all_items.length <= 0){
        this.$alert("Bill data can't be empty");
    }

    else if (this.customer_email == '' || this.customer_name == ''){

      this.$alert("Incomplete Customer data")
    }
    else {
      this.getbill()
    }
    

}},}
</script>

<style>
  .billing {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input:focus {
    border: 3px solid #555;
  }
  #items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #items td, #items th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #items tr:nth-child(even){background-color: #f2f2f2;}
  
  #items tr:hover {background-color: #ddd;}
  
  #items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
