<template>
    <div class="final_bill">
      
    </div>
  </template>
  
  <script>
  export default {
    name: 'app',
    data () {
      return {
          quantity_units :['kg', 'g', 'ml','dz','no'],
          item_name: "",
          item_quantity_unit:0,
          item_quantity : 0,
          all_items2 : [],
          customer_email:'',
          customer_name:''
  
  
      }
    
    },
    methods: {
      logdata: function(){
                  let item = {name: this.item_name.toLowerCase(), quantity :this.item_quantity, quantity_unit: this.item_quantity_unit }
                  this.all_items2.push(item)
                  console.log(this.all_items2)
                  this.resetvalues()
              },
  
      resetvalues: function(){
            this.item_name = ""
            this.item_quantity_unit =0
            this.item_quantity = 0
  
  
      },
      getbill : function(){
        let url = "http://127.0.0.1:8000/billing"
        let data = {items: this.all_items2, customer :{name: this.customer_name.toLowerCase(), email:this.customer_email.toLowerCase() }}
        const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({data})
      };
      fetch(url, requestOptions)
        .then(res => res.json())
        .then(res => console.log(res));
      },
      removeItem: function(i){
        this.all_items2.splice(i,1)
      },
      validatedata:  function(){
        if (this.all_items2.length <= 0){
          this.$alert("Bill data can't be empty");
      }
      else if (this.customer_email == '' || this.customer_name == ''){
        this.$alert("Incomplete Customer data")
      }
  }},}
  </script>
  
  <style>
    .billing {
      margin: auto;
      width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;
    }
    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
  
    input:focus {
      border: 3px solid #555;
    }
    #items {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #items td, #items th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #items tr:nth-child(even){background-color: #f2f2f2;}
    
    #items tr:hover {background-color: #ddd;}
    
    #items th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  